.FilmDetailMain{
    background-color: "rgb(10, 32, 41)"
}
.FilmDetailTop{
    width: 100%;
    height: 41vw;
    position: relative;
}
.FilmDetailGradient{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%);
}
.BannerBlur{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   background-image: url("https://preview.redd.it/6osikpalawp91.jpg?auto=webp&s=9440231fa70c4cba6f7fda7ac7d22646a9c7f25c");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
}
.imageFilmDetail{
    width: 100%; border-radius: 4;
}
.TopDetailInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 320;
    max-width: 870;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e9e9e9;
}
.ImgTrailer{
    width: 25%;
    height: 100%;
    position: relative;
   background-image: url("https://preview.redd.it/6osikpalawp91.jpg?auto=webp&s=9440231fa70c4cba6f7fda7ac7d22646a9c7f25c");
    /* backgroundImage: props => `url(${props.bannerImg})`, */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* '&:hover > div ': { opacity: 1 }, */
}
.ImgTrailer:hover > div{
    opacity: 1;
    /* '&:hover > div ': { opacity: 1 }, */
}
.ShortInfo{
    width: 59%;
    padding: 0px 15px;
}
.FilmName{
    font-size: 24,
}
.btnMuaVe{
    font-size: 16px;
    border-radius: 4px;
    background: 0 0;
    padding: 11px 25px;
    transition: all .2s;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #fb4226;
    border: none;
    color: #fff;
    /* "&:hover": {
        backgroundColor: "#b42a14",
      } */
}
.btnMuaVe:hover{
    background-color:#b42a14;
}
.RateFilm{
    width: 16%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CircularFilm{
    position: relative;
    height: 126;
    width: 126;
}
.RateStart{
    font-size: 53;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fabProgress{
    color: #7ed321;
    position: absolute;
    top: 0;
    left: 0;
}
.rateStar{
    width: fit-content;
}
.withOutImage{
    border-radius: 4;
    width: 100%;
    height: 100%;
    /* animationName: `$myEffect`, */
    /* animationDuration: "3s", */
    /* animationTimingFunction: `${theme.transitions.easing.easeInOut}`, */
    animation-iteration-count: infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
  }